

body {
    margin: 0;
    margin-top: 10;
    font-family: 'Segoe UI', sans-serif;
    background: #111;
    background-image: url('imagemfuria.png');
    background-repeat: repeat;
    background-size: 900px 1000px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .chat-container {
    width: 100%;
    max-width: 500px;
    height: 90vh;
    background: #424242;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgb(0, 0, 0);
  }

  .header {
    background: rgba(0, 0, 0, 0.767);
    color: #ffffff;
    padding: 15px;
    text-align: center;
    font-weight: bold;
  }

  .messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .message {
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 80%;
    line-height: 1.4;
  }

  .bot {
    background: #222;
    align-self: flex-start;
  }

  .user {
    background: rgba(235, 235, 235, 0.747);
    color: #000;
    align-self: flex-end;
  }

  .input-area {
    display: flex;
    border-top: 1px solid #333;
    padding: 10px;
    gap: 10px;
    background: #1a1a1a;
  }

  input {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
  }

  button {
    background: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }